<main>
    <section class="tarefas">
        <div class="tarefa">
            <form action="">
                <div>
                    <input type="radio" id="tarefa-1"> 
                    <label for="tarefa-1">Completar curso de Javscript</label>
                </div>

                <button>
                    <img src="/imagens/X-icon.png" alt="ícone de X para excluir uma tarefa">
                </button>
            </form>
        </div>
    </section>
</main>